html, body {
    height: 100%;
}

#sidebar {
    height: 100%;
    min-height: 100vh;
    min-width: 200px;
}

h1 {
    text-align: end;
    margin: auto;
    font-weight: 300;
    font-size: larger;
    padding: 10px;
}